*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    color: white;
}
h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#first{
 display: flex;
 justify-content: center;
 width: 80%;
margin: auto;
gap: 30px;
 padding: 5px;
 flex-wrap: wrap;
}
.user{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 2px solid white; 
    border-radius: 5px;
    transition: transform 0.2s ease-in;
}
.user:hover{
    transform: scale(1.2);
}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: orange;
}